<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Universidade de Vassouras</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/disciplina.css">
</head>
<body>
    <header>
        <input type="text" placeholder="Digite algo para pesquisar...">
    </header>
    <aside id="side-bar">
        <img src="../static/img/icon-faculdade.png" alt="Universidade de Vassouras Logo" id="logo">
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}"><img src="../static/img/icon-home.png" alt="Home"></a></li>
                <li><a href=""><img src="../static/img/icon-forum.png" alt="Fóruns"></a></li>
                <li><a href=""><img src="../static/img/icon-calendar.png" alt="Calendário"></a></li>
                <li><a href=""><img src="../static/img/icon-msg.png" alt="Mensagens"></a></li>
                <li><a href=""><img src="../static/img/icon-config.png" alt="Configurações"></a></li>
                <li><a href=""><img src="../static/img/icon-logout.png" alt="Logout"></a></li>
            </ul>
        </nav>
    </aside>
    <aside id="perfil">
        <a href=""><img src="../static/img/icon-perfil.png" alt="perfil"></a>
    </aside>
    <article id="last-class-stats">
        <h1>{{ disciplina.get_titulo() }}</h1>
        <section id="last-class">
            <a href="" id="thumbnail"><img src="../static/img/icon-placeholder.png" alt="placeholder"></a>
            <h4>Título</h4>
            <p>Número Aula</p>
            <a href="" id="button"><button type="button">Resumir Estudos</button></a>
        </section>  
        <section id="stats">
            <h4>Estatísticas</h4>
            <ul>
                <li>
                    <p>Progresso</p>
                    <p>1</p>
                </li>
                <li>
                    <p>Trabalhos</p>
                    <p>1</p>
                </li>
                <li>
                    <p>Datas Importantes</p>
                    <a href=""><img src="../static/img/icon-calendar.png" alt=""></a>
                </li>
            </ul>
        </section>
    </article>
    <article id="classes">
        {% for aula in aulas %}
            <section>
                <a href="" id="thumb"><img src="../static/img/icon-placeholder.png" alt=""></a>
                <h4>{{ aula.get_titulo() }}</h4>
                <p>Descrição</p>
                <a href=""><button>Acessar Aula</button></a>
            </section>
        {% endfor %}
    </article>
</body>
</html>