<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Universidade de Vassouras</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
    <header>
        <h3>Barra de pesquisa</h3>
    </header>
    <aside id="side-bar">
        <h1>Logo</h1>
        <nav>
            <ul>
                <li>Painel Disciplina</li>
                <li>Fóruns</li>
                <li>Calendário</li>
                <li>Mensagens</li>
                <li>Configurações</li>
                <li>Sair</li>
            </ul>
        </nav>
    </aside>
    <aside id="perfil">
        <a href=""><img src="" alt=""></a>
    </aside>
    <article id="last-class-stats">
        <h1>Seja bem vindo ao Ambiente Virtual de Aprendizagem</h1>
        <section id="last-class">
            <a href="" id="thumbnail"><img src="" alt=""></a>
            <h4>Titulo</h4>
            <p>Numero Aula</p>
            <a href="" id="button"><button type="button">Resumir Estudos</button></a>
        </section>
        <section id="stats">
            <h4>Estatísticas Gerais</h4>
            <ul>
                <li>
                    <img src="" alt="">
                    <p>0</p>
                    <p>Novas aulas</p>
                </li>
                <li>
                    <img src="" alt="">
                    <p>0</p>
                    <p>Trabalhos Pendentes</p>
                </li>
                <li>
                    <img src="" alt="">
                    <p>0</p>
                    <p>Anúncios</p>
                </li>
                <li>
                    <img src="" alt="">
                    <p>0</p>
                    <p>Novas Postagens</p>
                </li>
            </ul>
        </section>
    </article>
    <article id="disciplines">
        <section>
            <a href=""><img src="" alt=""></a>
            <h4>Nome Disciplina</h4>
            <p>Professor</p>
            <p>Período</p>
            <a href=""><img src="" alt=""></a>
        </section>
        <section>
            <a href=""><img src="" alt=""></a>
            <h4>Nome Disciplina</h4>
            <p>Professor</p>
            <p>Período</p>
            <a href=""><img src="" alt=""></a>
        </section>
        <section>
            <a href=""><img src="" alt=""></a>
            <h4>Nome Disciplina</h4>
            <p>Professor</p>
            <p>Período</p>
            <a href=""><img src="" alt=""></a>
        </section>
        <section>
            <a href=""><img src="" alt=""></a>
            <h4>Nome Disciplina</h4>
            <p>Professor</p>
            <p>Período</p>
            <a href=""><img src="" alt=""></a>
        </section>
        <section>
            <a href=""><img src="" alt=""></a>
            <h4>Nome Disciplina</h4>
            <p>Professor</p>
            <p>Período</p>
            <a href=""><img src="" alt=""></a>
        </section>
    </article>
</body>
</html>