<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Universidade de Vassouras</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
    <header>
        <h3>Barra de pesquisa</h3>
    </header>
    <aside id="side-bar">
        <h1>Logo</h1>
        <nav>
            <ul>
                <li>Painel Disciplina</li>
                <li>Fóruns</li>
                <li>Calendário</li>
                <li>Mensagens</li>
                <li>Configurações</li>
                <li>Sair</li>
            </ul>
        </nav>
    </aside>
    <aside id="perfil">
        <a href=""><img src="" alt=""></a>
    </aside>
    <article>
        <section id="last-class-stats">
            <h1>Seja bem vindo ao Ambiente Virtual de Aprendizagem</h1>
            <div id="last-class">
                <a href=""><img src="" alt=""></a>
                <h3>Titulo</h3>
                <p>Numero Aula</p>
                <a href=""><button type="button">Resumir Estudos</button></a>
            </div>
            <div id="stats">
                <h3>Estatísticas Gerais</h3>
                <ul>
                    <li>
                        <img src="" alt="">
                        <p>0</p>
                        <p>Novas aulas</p>
                    </li>
                    <li>
                        <img src="" alt="">
                        <p>0</p>
                        <p>Trabalhos Pendentes</p>
                    </li>
                    <li>
                        <img src="" alt="">
                        <p>0</p>
                        <p>Anúncios</p>
                    </li>
                    <li>
                        <img src="" alt="">
                        <p>0</p>
                        <p>Novas Postagens</p>
                    </li>
                </ul>
            </div>
        </section>
        <section id="disciplines">
            <div>
                <a href=""><img src="" alt=""></a>
                <h3>Titulo Aula</h3>
                <p>Professor</p>
                <p>Período</p>
                <a href=""><img src="" alt=""></a>
            </div>
        </section>
    </article>
</body>
</html>