body article#classes{
    grid-area: board;
}

body article section#stats{
    display: grid;
    grid-area: stats;
    grid-template-areas: "title" "stats";
}

body article section#stats h4{
    display: flex;
    grid-area: title;
    justify-content: center;
}
body article section#stats ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 10vw;
    margin: 0;
    padding: 0;
    grid-area: stats;
}