body article#disciplines{
    grid-area: board;
}

body article section#stats{
    display: grid;
    grid-area: stats;
    grid-template-areas: "title" "stats";
}

body article section#stats h4{
    display: flex;
    justify-content: center;
    grid-area: title;
}

body article section#stats ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    grid-area: stats;
}
