body article#classes{
    grid-area: board;
}

body article section#stats{
    display: grid;
    grid-area: stats;
    grid-template-areas: "title" "stats";
    width: 32vw;
    height: 30vh;
    background-color: #F5F5F5;
    border: 2px solid #707070;
    border-radius: 5px;
    place-items: center;
}

body article section#stats h4{
    display: flex;
    grid-area: title;
    justify-content: center;
}
body article section#stats ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 10vw;
    margin: 0;
    padding: 0;
    grid-area: stats;
}
body article section#stats ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body article#classes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5.8vw;
    margin-top: 5vh;
}

body article#classes section{
    display: grid;
    grid-template-areas: "thumbnail title" "thumbnail details" "thumbnail button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 20vh;
    width: 20vw;
    background-color: #F5F5F5;
    border: 2px solid #707070;
    border-radius: 5px;
    margin: 5px 30px 10px;
    align-items: center;
}

body article#classes section a#thumb{
    display: grid;
    grid-area: thumbnail;
    justify-content: center;
}

body article#classses section h4{
    display: grid;
    grid-area: title;
}

body article#disciplines section p{
    display: grid;
    grid-area: teacher;
}

body article#disciplines section a#button-icon{
    display: grid;
    grid-area: button;
    justify-self: end;
}

@media screen and (max-width:1120px){
    body article#classes section{
        height: 150px;
        width: 370px;
    }

    body article section#stats{
        width: 400px;
        height: 185px;   
    }
}