html {
    font-size: 100%;
}
body *{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    "side-bar search ico"
    "side-bar class-stats blank"
    "side-bar board blank";
    grid-template-columns: 7vw 84vw 8vw;
    grid-template-rows: 10vh 45vh auto;
}

body header{
    grid-area: search;
    display:flex;
    justify-content: center;
    /*border-bottom: 3px solid #707070;*/
}
body header input{
    height: 3vh;
    width: 40vw;
    align-self: center;
}
body aside#side-bar{
    grid-area: side-bar;
    display:grid;
    grid-template-areas: "logo" "side-menu";
    grid-template-rows: 17vh auto;
    background-color: #F5F5F5;
    justify-items: center;
    border: 2px solid #707070;
}

bodey aside img#logo{
    grid-area: logo;
}

body aside#side-bar nav ul{
    list-style-type: none;
    height: 40vw;
    grid-area: side-menu;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body aside#perfil{
    grid-area: ico;
    display: flex;
    justify-content: center;
    padding: 10px;
}

body article#last-class-stats{
    grid-area: class-stats;
    display:grid;
    grid-template-areas: 
    "title title"
    "last-class stats";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5vw 1fr;
    place-items: center;
}

body article h1{
    display: flex;
    grid-area: title;
    justify-content: center;
    align-self: center;
}

body article section#last-class{
    display: grid;
    grid-area: last-class;
    width: 40vw;
    height: 30vh;
    grid-template-areas: 
    "thumbnail title"
    "thumbnail details"
    "thumbnail button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #F5F5F5; 
    border: 2px solid #707070;
    border-radius: 5px;
    align-items: center;
}

body article a#thumbnail{
    display:grid;
    grid-area: thumbnail;
    justify-content: center;
}

body article h4{
    display: grid;
    grid-area: title;
}   

body article section p{
    display: grid;
    grid-area: details;
} 

body article section a#button{
    display: grid;
    grid-area: button;
    width: 10vw;
}


/*borda - #707070 preenchimento - #F5F5F5 vermelho - #803031 */